<!DOCTYPE html>
<html>
    <head>
        <title>Library</title>
        <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    </head>
    <body>
        <header>
            <h1>Library</h1>
            <p>A simple web application example.</p>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="/book_list">Book List</a>
            <a href="/show_add_book">Add Book</a>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <p>&copy; 2025 Programmazione Web UNICA</p>
        </footer>
    </body>
</html>