{% extends "base.html" %}
{%  block content %}

<form style="text-align: center;" method="post">
  <label for="id">Scegli l'ID:</label><br>
  <input type="number" id="id" name="id" min="0" max="10" required><br>
  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title" placeholder="Inserisci il titolo" required><br>
  <label for="author">Author:</label><br>
  <input type="text" id="author" name="author" placeholder="Inserisci l'autore" required><br>
  <!--<label for="review">Review:</label><br>
  <input type="number" id="review" name="review" min="1" max="5"><br><br>-->

  <div class="star-rating">
    <button class="star">&#9734</button>
    <button class="star">&#9734</button>
    <button class="star">&#9734</button>
    <button class="star">&#9734</button>
    <button class="star">&#9734</button>
  </div>

  <!-- Messaggio di feedback -->
  <div style="min-height: 1.5em;">
  {% if message %}
    {% if "Book ID already exists." in message or "Book not found" in message%}
      <p style="text-align: center; color: red;">{{ message }}</p>
    {% else%}
      <p style="text-align: center; color: green;">{{ message }}</p>
    {% endif %}
    {% endif %}
  </div>

  <button type="submit" formaction="/add_book"  formmethod="post">Aggiungi</button>
  <button type="submit" formaction="/delete_all_books"  formmethod="post" onclick="return confirm('Sei sicuro di voler eliminare tutti i libri?');" formnovalidate>Elimina tutti i libri</button>
  <button type="submit" formaction="/delete_a_book"  formmethod="post" onclick="return del_lib()" formnovalidate>Elimina il libro</button>
</form>

<script>
  function del_lib(){
    const idInput = document.getElementById("id");
    if(!idInput.value){
      alert("Inserisci l'ID del libro che vuoi cancellare");
      return false;
    }
    return confirm("Sei sicuro di voler eliminare il libro "+idInput.value);
  }

  const stars = document.querySelectorAll('.star');

  stars.forEach((star, i) => {
    star.onclick = function () {
      let current_star = i + 1;

      stars.forEach((star, j) => {
        if (current_star >= j+1) {
          star.innerHTML = "&#9733";
        }
        else{
          star.innerHTML = "&#9734";
        }
      });
    }
  });

</script>

{% endblock %}