{% extends "base.html" %}
{%  block content %}

<!-- Messaggio di feedback -->
{% if message %}
  {% if "Book ID already exists." in message %}
    <p style="text-align: center; color: red;">{{ message }}</p>
  {% else %}
    <p style="text-align: center; color: green;">{{ message }}</p>
  {% endif %}
{% endif %}

<form style="text-align: center" action="/add_book" method="post">
  <label for="id">Scegli l'ID:</label><br>
  <input type="number" id="id" name="id" min="0" max="10" required><br>
  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title" placeholder="Inserisci il titolo" required><br>
  <label for="author">Author:</label><br>
  <input type="text" id="author" name="author" placeholder="Inserisci l'autore" required><br>
  <label for="review">Review:</label><br>
  <input type="number" id="review" name="review" min="1" max="5" required><br><br>
  <input type="submit" value="Aggiungi">
</form>

<button type="button" onclick="deleteallbooks()">Elimina tutti i libri</button>

<script>
  function deleteallbooks() {
    fetch('/del_all_books', {
      method: 'DELETE'  // Metodo DELETE
    })
    .then(response => response.json())  // Se la risposta è JSON, analizzala
    .then(data => {
      console.log(data);
      alert(data.message);  // Mostra il messaggio di successo
    })
    .catch(error => {
      console.error('Error:', error);
      alert('Si è verificato un errore!');
    });
  }
</script>

{% endblock %}